.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}



a {
  color: green;
}

a:hover {
  color: green;
  border:2px solid #FF0080;
}

a:visted {
  color: green;
}
.badge-bg01 {
  background-color: #FF0080;
}

.bdr-dotted {
  border-bottom: 1px dotted #FF0080;
}
.bolder{
  color:#FF0080;
}

.btm-margin01 {
  margin-bottom: 1em;
}


.circle-bg {
  background-color: yellow;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #FF0080;
  border-radius: 100%;
  width: 100%;
  max-width: 120px;
}

.color-strawberry {
  background-color: #FF0080;
}

.default-profile {
  color: #FF0080;
  /*background-color: #ccc;*/
  font-size: 3em;
}

.dev-line {
  border: 1px solid red;
  /*border-top: 1px solid red;*/
}

.hr-bar01 {
  border-bottom: 20px solid #FF0080;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 1em;
}

.hr-bar02 {
  padding: 1em;
  border-bottom: 2px solid #FF0080;
  margin-bottom: 1em;
}

.navbar {
  /*background-color: #FF0080;*/
  background-color: white;
  color: green;
}

.navbar-nav {}

.navbar-default .navbar-nav>li>a {
  color: green;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: green;
  background-color: white;
  border: 2px solid #FF0080;
}
.quote{
  color: gray;
}
.rt-panel-img{
}
.pad-1em {
  padding: 1em;
}
.profile-box{
  height:10em;
  vertical-align: middle;
}


.thumb {
  height: 5em;
  width: 5em;
}

.thumb-bg {
  background-color: #CCCCCC;
}

.top-margin {
  margin-top: 75px;
  padding: 5px;
}
