<div class="container">
  <!-- shoeBanner -->
  <div ng-include="'views/templates/shoeBanner.html'" class="col-xs-12"></div>
  <!-- main container -->
  <div class="row">
    <!-- left panel -->
    <div class="col-sm-2">
      <div ng-include="'views/templates/leftPanel.html'"></div>
    </div>
    <!-- middle panel -->
    <div class="col-sm-8">
      <div class="" ng-include="'views/templates/middlePanel.html'"></div>
    </div>
    <!-- right panel -->
    <div class="col-sm-2">
      <div class="" ng-include="'views/templates/rightPanel.html'"></div>
    </div>
  <!-- login modal -->
  <div class="" ng-include="'views/templates/login.html'"></div>
  </div>
<!-- end container -->
</div>
