
<button ng-click="askAws()">aws</button>
<div ng-repeat='shoeUrl in shoeUrls'><img ng-src="{{shoeUrl}}"></div>

<h2>Questions</h2>
<p>
  <button ng-click="askQuestion()">Ask</button>
  <form ng-submit="newQuestion()" ng-show="viewNewForm" class="form-inline">
    <div class="form-group">
      <label for="new-question">Ask Question</label>
      <input id="new-question" type="text" ng-model="question.text" placeholder="new question" class="form-control">
      <input type="submit" value="submit" class="btn">
    </div>
  </form>
  <div ng-repeat="question in questions">
    <div class="well">  
      <p>{{question.text}}</p>
      <form ng-submit="editForm()" ng-show="viewEditForm" class="">
      </form>
        <p>
          <button ng-click="editQuestion()">Edit</button>
          </p>
    </div>
  </div>
