<!-- leftPanel -->
<div ng-controller="LeftPanelController" class=" text-center">
  <!-- avatar -->
  <div class="row">
    <div class="">
      <div class="default-profile">
        <span><i class="fa fa-user"></i></span>
        <!-- <img ng-src="" alt="" class=""> -->
      </div>
      <div class="">
        <p>{{lftPanel.currentUser.username}}</p>
        <div class="col-xs-12 btm-margin01">
          <span class="col-xs-6">Left:<br><span class="badge badge-bg01">{{lftPanel.currentUser.leftFoot}}</span></span>
          <span class="col-xs-6">Right:<br><span class="badge badge-bg01">{{lftPanel.currentUser.rightFoot}}</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="hr-bar02">
      <h3 class=""><span class="badge badge-bg01">{{lftPanel.mates.length}}</span>
Sole Mates</h3>
    </div>
    <div ng-repeat="mate in lftPanel.mates">
      <p>{{mate.username}}</p>
      <div class="col-xs-12 btm-margin01">
        <span class="col-xs-6">Left:<br><span class="badge badge-bg01">{{mate.leftFoot}}</span></span>
        <span class="col-xs-6">Right:<br><span class="badge badge-bg01">{{mate.rightFoot}}</span></span>
      </div>
    </div>
  </div>
  <!-- end leftPanel -->
</div>
