<div class="row">
  <div class="pad-1em">
    <span class="">{{numShoeMatchesAll.length}} shoe matches found</span> | <a href="#" ng-click="">View<span>{{perPage}}</span> per page </a>
  </div>
  <div ng-repeat="shoe in shoes" class="col-xs-6 col-sm-4">
    <div class="thumbnail">
      <div class="text-right pad-1em hr-bar02">
        <!-- <div ng-click="$scope.main.test = mdlPanel.numShoeMatches2(mdlPanel.currentUser, shoe); getArr2()">click</div> -->
        <!--         <a ng-href="javascript:void(0)" ng-click="main.matesShoePanel = mdlPanel.numShoeMatches2( shoe);$event.stopPropagation()">{{(mdlPanel.numShoeMatches(shoe.id) ).length}} Mates -->
        <a ng-href="javascript:void(0)" ng-click="showMatchPerShoe(numShoeMatchesAll, shoe._id); $event.stopPropagation()">{{matchesPerShoe(numShoeMatchesAll, shoe._id).length}} Mates</a>
      </div>
      <!-- caption panel -->
      <div class="row text-center">
        <img ng-src="{{shoe.shoeUrl}}" class="thumb">
        <div class="caption">
          <h5><span class="bdr-dotted">{{shoe.name}}</span></h5>
          <p>{{shoe.price | currency}}</p>
          <div class="likeShoe">
            <a ng-href="javascript:void(0)" ng-click="addToLikes(currentUser, shoe._id);">
              <span class="glyphicon glyphicon-heart" ng-show="!isLiked(currentUser, shoe._id)"></span>
              <span class="glyphicon glyphicon-heart colored" ng-show="isLiked(currentUser, shoe._id)"></span>
              <!-- i want to check each time submit a shoe -->
            </a>
          </div>
        </div>
      </div>
      <!-- end caption panel  -->
    </div>
  </div>
</div>

