<div class="row profile-box" ng-controller="LoginModalController">
  <img ng-src="{{main.matesShoePanel.shoe}}" class="rt-panel-img">
</div>
<div class="row">
  <div class="hr-bar02">
    <h3 class="">
            <span class="badge badge-bg01">{{matesPerShoe.length}}</span>
            Sole Mates</h3>
  </div>
  <div class="" ng-repeat="mate in matesPerShoe">
    <div>
      <h4><a ng-href="javascript:void(0)" ng-click="showMsgPanel(); showMsg = !showMsg" class="">{{mate.email}}</a></h4>
      <div ng-show="showMsg">
        <form ng-submit="postMsg()">
          <div class="form-group">
            <label>Message</label>
            <textarea ng-model="mateMsg"></textarea>
            <input type="submit">
            <input type="button" ng-click="showMsg = !showMsg" value="cancel">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
